.itemContainer {
  background: var(--orange-300);
  border-radius: var(--default-border-radius);
  box-shadow: var(--box-shadow);
  margin-bottom: 20px;
  
  &.inactive {
    background: var(--gray-400);
    box-shadow: none;
  }

  .itemHeader {
    display: flex;
    background: var(--orange-300);
    border-top-left-radius: var(--default-border-radius);
    border-top-right-radius: var(--default-border-radius);

    padding: 3px 10px;

    span {
      font-size: var(--p);
      color: var(--white);
      font-weight: bold;
    }

    &.inactive {
      background: var(--gray-400);
    }
  }
  
  .itemContent {
    background: var(--white);
    border: 3px solid var(--orange-300);
    border-top: none;
    border-radius: var(--default-border-radius);
    
    padding: 20px 20px 0;
    
    font-size: var(--p);
    
    &.inactive {
      background: var(--gray-100);
      color: var(--gray-800);
      border-color: var(--gray-400);
    }
  }
}

.item {
  border: 1px solid var(--gray-100);
  border-radius: var(--default-border-radius);
  box-shadow: var(--box-shadow);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 5px 10px;
  margin-bottom: 20px;

  font-size: var(--p);

  &.inactive {
    border: none;
    background: var(--gray-100);
    color: var(--gray-400);
  }
}

.line {
  display: flex;
  justify-content: space-between;
}

.w25 {
  width: 25%;
}

.w75 {
  width: 75%;
}

.indication {
  display: flex;
  justify-content: space-between;
}

.menuItem {
  width: 100%;
  color: var(--white);
  text-align: center;
  padding: 30px 0;
  cursor: pointer;

  transition: box-shadow 0.3s;
  box-shadow: inset 0 0 0 0 var(--orange-300);

  &.selected {
    font-weight: var(--font-bold);
    box-shadow: inset 0 0 0 100px var(--orange-300);
  }

  &:hover:not(.selected) {
    transition: background 0.3s;
    background: var(--gray-900);
  }

  p {
    font-size: var(--h3);
  }
}

// .lineSeparator {
//   width: 75%;
//   height: 1px;
//   background: var(--black);
//   z-index: 1;
// }
