/* The Modal (background) */
.backgroundModal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;//240px;
  top: 0;//80px;
  width: 100%;//calc(100vw - 240px); /* Full width */
  height: 100%;//calc(100vh - 80px); /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
}

.showModal {
  display: block;
}

.modalContent {
  background: var(--white);
  
  width: 45%;
  overflow: auto;
  max-height: 80%;

  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;

  h1 {
    font-size: var(--h1);
    margin-bottom: 40px;
  }
  
  animation: animate-show .4s;
}

@keyframes animate-show {
  from {top: 45%; opacity: 0}
  to {top: 50%; opacity: 1}
}
