.modalContent {
  height: 75%;
  
  h1 {
    font-size: var(--h1);
    margin-bottom: 40px;
  }

  span {
    line-height: 10px;
  }

  .buttons {
    display: flex;
  }

  img {
    width: 20px;
    height: 20px;
    margin-left: 20px;
  }
}